{{page-title "Ex1"}}
<div class="card">
  <div class="card-header bg-primary text-light">Ex1: Note application</div>
  <div class="card-body">
    <b>Note: </b>
    <div class="form-group">
      <Textarea class="form-control" @maxlength={{this.MAX}} id="exampleFormControlTextarea1" rows="3" placeholder="Modification de note content" @value={{this.content}}></Textarea>
    </div>
    <div class="alert {{this.style}}" role="alert">Il vous reste {{this.size}} caracteres à saisir !</div>
    <div class="card-header">
      <button type="button" class="btn btn-primary">Enregistrer</button>
      <button type="button" {{action "clear"}} class="btn btn-primary">Effacer</button>
    </div>
  </div>

</div>
{{outlet}}