{{page-title "Ex2"}}
<div class="card">
  <div class="card-header bg-primary text-light">Ex2: Service</div>
</div>

<div class="alert alert-info">
  <span>Cliquez sur un service pour le séléctionner</span>
</div>
<ul>
  {{#each @model.services as |srv|}}
    <li class="list-group-item {{if srv.active "active"}}" {{action "toggleActive" srv}}>{{srv.name}} {{srv.price}}</li>
  {{/each}}
</ul>

//dans le projet d'hugo ->plural -> faut l'ajouter ça fait l'erreur

{{outlet}}